<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kubebolt</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <link rel="icon" href="https://s3.amazonaws.com/erdenayat.es/kubebolt.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #323938;
            color: #ffffff;
            /* Light text color */
        }

        #grad1 {
            background-color: rgb(50, 57, 56);
            background-image: linear-gradient(90deg, rgba(50, 57, 56, 1) 0%, rgba(34, 38, 38, 1) 64%, rgba(0, 0, 0, 1) 100%);
        }

        table {
            border-collapse: collapse;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            --bs-table-striped-color: #ffffff
        }


        body {
            background-color: #323938;
            color: #ffffff;
            /* Light text color */
        }

        table thead th {
            background-color: #3a3f45;
            color: #ffffff;
        }

        table tbody tr {
            background-color: #3a3f45;
        }

        table tbody tr:nth-child(odd) {
            background-color: #444b52;
            color: #ffffff;
            --bs-table-striped-color: #ffffff
        }


        table tbody td {
            color: #ffffff;
        }

        .node-metric-row {
            background-color: #3a3f45;
        }

        .node-metric-row:nth-child(odd) {
            background-color: #444b52;
        }

        .form-check-label {
            color: #ffffff;
        }

        table tbody tr.table-row-even {
            background-color: #3a3f45;
        }

        table tbody tr.table-row-odd {
            background-color: #444b52;
        }

        .btn-custom {
            background-color: #0d6efd;
            border-color: #0d6efd;
            color: #ffffff;
        }

        .btn-custom:hover {
            background-color: #0c62e2;
            border-color: #0c62e2;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="container-lg my-3">
        <div class="header d-flex justify-content-between align-items-center mb-1">
            <img src="https://s3.amazonaws.com/erdenayat.es/kubebolt-dark-mode.png" alt="logo" width="151" height="60">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="showAllNamespaces" onchange="showHideNamespaces()">
                <label class="form-check-label" for="showAllNamespaces">Show all namespaces</label>
            </div>
        </div>
        <main>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Namespace</th>
                                <th>Current&nbsp;Replicas</th>
                                <th>Scale</th>
                                <th>Pod&nbsp;Logs</th>
                                <th>Rollout&nbsp;Restart</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deployment in deployments.items %}
                            <tr{% if deployment.metadata.namespace in ['default','kube-system'] %} style="display:none;"
                                {% endif %}>
                                <td>{{ deployment.metadata.name }}</td>
                                <td>{{ deployment.metadata.namespace }}</td>
                                <td>{{ deployment.spec.replicas }}</td>
                                <td>
                                    <form action="/scale" method="post" class="d-flex flex-column flex-md-row">
                                        <input type="hidden" name="namespace"
                                            value="{{ deployment.metadata.namespace }}">
                                        <input type="hidden" name="deployment_name"
                                            value="{{ deployment.metadata.name }}">
                                        <input type="number" name="replicas" value="{{ deployment.spec.replicas }}"
                                            min="0" class="form-control me-2">
                                        <button type="submit" class="btn btn-custom action-button">Scale</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/logs" method="post" class="d-flex align-items-center">
                                        <input type="hidden" name="namespace"
                                            value="{{ deployment.metadata.namespace }}">
                                        <select name="pod_name" class="form-select me-2">
                                            {% for pod in deployment_pods[deployment.metadata.name].items %}
                                            <option value="{{ pod.metadata.name }}">{{ pod.metadata.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-custom action-button">Logs</button>
                                    </form>
                                    </form>
                                </td>
                                <td>
                                    <form action="/restart" method="post" onsubmit="return confirmRestart();">
                                        <input type="hidden" name="namespace"
                                            value="{{ deployment.metadata.namespace }}">
                                        <input type="hidden" name="deployment_name"
                                            value="{{ deployment.metadata.name }}">
                                        <button type="submit" class="btn btn-custom action-button">Restart</button>
                                    </form>
                                </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nodes</th>
                                <th>CPU (cores)</th>
                                <th>CPU Usage (%)</th>
                                <th>Memory (bytes)</th>
                                <th>Memory Usage (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tbody id="node-metrics-table-body">
                            {% for node_metric in node_metrics %}
                            <tr class="node-metric-row">
                                <td>{{ node_metric.name }}</td>
                                <td>{{ node_metric.cpu_usage }}</td>
                                <td>{{ node_metric.cpu_usage | int / 10 }}%</td>
                                <td>{{ "{:.0f}".format(node_metric.memory_usage | int / (1024 * 1024) | round(2)) }} Mi
                                </td>
                                <td>{{ node_metric.memory_usage_percentage }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </table>
            </div>
            <div class="text-center mb-1">
                <form action="/toggle-error-check" method="post">
                    {% if error_check_enabled %}
                    <button type="submit" class="btn btn-danger">Stop Error-Readiness/Probness Check</button>
                    {% else %}
                    <button type="submit" class="btn btn-success">Start Error-Readiness/Probness Check</button>
                    {% endif %}
                </form>
                {% if error_check_enabled %}
                <p class="mt-1">Error-Readiness/Probness Check is currently <strong>enabled</strong>.</p>
                {% else %}
                <p class="mt-1">Error-Readiness/Probness Check is currently <strong>disabled</strong>.</p>
                {% endif %}
            </div>
            <div class="text-center mb-1">
                <form action="/delete-error-completed-pods" method="post">
                    <button type="submit" class="btn btn-danger">Delete Error and Completed Pods</button>
                </form>
            </div>

        </main>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <script>
            function showHideNamespaces() {
                let showAll = document.getElementById('showAllNamespaces').checked;
                let rows = document.querySelectorAll('table tbody tr');
                let nodeMetricRows = document.querySelectorAll('table tbody tr.node-metric-row');
                let visibleRowIndex = 0;

                function updateRowColors(row, shouldHide) {
                    row.style.display = shouldHide ? 'none' : '';

                    // Apply alternating background colors to visible rows
                    if (!shouldHide) {
                        row.style.backgroundColor = visibleRowIndex % 2 === 0 ? '#373c41' : '#444b52';
                        visibleRowIndex += 1;
                    }
                }

                rows.forEach(row => {
                    let namespace = row.cells[1]?.innerText;
                    let shouldHide = !showAll && (namespace === 'default' || namespace === 'kube-system');
                    updateRowColors(row, shouldHide);
                });

                visibleRowIndex = 0;
                nodeMetricRows.forEach(row => {
                    let shouldHide = false;
                    updateRowColors(row, shouldHide);
                });
            }

            showHideNamespaces();
            function confirmRestart() {
                return confirm('Are you sure you want to restart this deployment?');
            }

            function fetchNodeMetrics() {
                fetch('/node_metrics')
                    .then(response => response.json())
                    .then(data => {
                        const nodeMetricsTableBody = document.getElementById('node-metrics-table-body');
                        nodeMetricsTableBody.innerHTML = '';

                        let visibleRowIndex = 0;
                        data.forEach(node => {
                            const row = document.createElement('tr');
                            row.classList.add(visibleRowIndex % 2 === 0 ? 'table-row-even' : 'table-row-odd');

                            const nameCell = document.createElement('td');
                            nameCell.innerText = node.name;
                            row.appendChild(nameCell);

                            const cpuUsageCell = document.createElement('td');
                            cpuUsageCell.innerText = node.cpu_usage;
                            row.appendChild(cpuUsageCell);

                            const cpuUsagePercentageCell = document.createElement('td');
                            cpuUsagePercentageCell.innerText = node.cpu_usage_percentage;
                            row.appendChild(cpuUsagePercentageCell);

                            const memoryUsageCell = document.createElement('td');
                            memoryUsageCell.innerText = node.memory_usage;
                            row.appendChild(memoryUsageCell);

                            const memoryUsagePercentageCell = document.createElement('td');
                            memoryUsagePercentageCell.innerText = node.memory_usage_percentage;
                            row.appendChild(memoryUsagePercentageCell);

                            nodeMetricsTableBody.appendChild(row);
                            visibleRowIndex += 1;
                        });
                    });
            }

            fetchNodeMetrics();
            setInterval(fetchNodeMetrics, 3000);
        </script>
</body>

</html>